image:
  repository: bitnamilegacy/kafka
  pullPolicy: IfNotPresent

kraft:
  enabled: true

controller:
  replicaCount: 1

broker:
  replicaCount: 1

persistence:
  enabled: true
  size: 10Gi
  storageClass: local-path  

resources:
  requests:
    cpu: 500m
    memory: 1Gi
  limits:
    cpu: "2"
    memory: 2Gi

externalAccess:
  enabled: true 
  autoDiscovery:
    enabled: false
  broker:
    service:
      type: NodePort 
      nodePorts: 
        - "30994"

  controller:
    service:
      type: NodePort
      nodePorts:
        - "30995"

extraEnvVars:
  - name: KAFKA_CFG_ADVERTISED_LISTENERS
    value: |
      CLIENT://kafka-broker-0.kafka-broker-headless.kafka.svc.cluster.local:9092,
      INTERNAL://kafka-broker-0.kafka-broker-headless.kafka.svc.cluster.local:9094,
      EXTERNAL://localhost:9094
  - name: KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP
    value: CLIENT:PLAINTEXT,INTERNAL:PLAINTEXT,CONTROLLER:PLAINTEXT,EXTERNAL:PLAINTEXT

# for local deployment
listeners:
  client:
    protocol: PLAINTEXT     
  interbroker:
    protocol: PLAINTEXT
  controller:
    protocol: PLAINTEXT
  external:
    protocol: PLAINTEXT