image:
  repository: minio/minio
  pullPolicy: IfNotPresent

mode: standalone

existingSecret: minio-root-secret

buckets:
  - name: mlflow-artifacts
    policy: none

persistence:
  enabled: true
  size: 10Gi
  storageClass: local-path

resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi

service:
  type: ClusterIP
  port: 9000

    